<mat-list-item class="card" role="listitem" *ngFor="let card of cards">
  <mat-card *ngIf="editoption!==card.id" class="card1" (click)='openmodel($event,card.id)'>
    <div class="cardicon">{{card.name}}
    </div>
    <div class="cardicon">
      <span class="material-icons" (click)='onselect($event,card.id)'>
        create
      </span>
    </div>

  </mat-card>

  <mat-card *ngIf="editoption==card.id" class="inputcard">

    <mat-form-field>
      <mat-label>Enter new name.</mat-label>
      <input matInput placeholder="Ex. Book Flight" value={{card.name}} [(ngModel)]="editvalue" required>
    </mat-form-field>

    <button mat-button (click)='editcard($event,card.id)'>submit</button>
    <button mat-button (click)='hideinput()'>cancel</button>

    <button mat-button color='primary' (click)='deletecard($event,card.id)'>delete</button>
  </mat-card>

</mat-list-item>
<div class="addbtn">
  <button mat-button *ngIf="showbtn" class="addcard" (click)='showaddinput()'>+ Add New Card</button>
  <mat-card *ngIf="showinput" class="inputcard1">
    <mat-form-field >
      <mat-label>Enter new card name.</mat-label>
      <input matInput placeholder="Ex. Book Flight" [(ngModel)]="inputdata" required>
    </mat-form-field>
    <mat-card-actions>
    <button mat-button (click)='addcard($event,id)'>submit</button>
    <button mat-button (click)='showaddinput()'>cancel</button>
    </mat-card-actions>
  </mat-card>
</div>
