.card {
  display: flex;
  margin: 1em;
  justify-content: flex-start;

}

.card1 {
  display: flex;
  justify-content: space-between;
  width: 15em;

}

.addbtn {
  display: flex;
  margin: 1em;
  justify-content: flex-start;

}

.cardicon {
  display: flex;

}

.inputcard {
  display: flex;
  margin: -2em;
}

.addcard {
  display: flex;
  margin-top: 1em;
  background-color: #ebecf0;
  ;
}

.inputcard1 {
  width: 100%;

}
