.container {
  display: flex;

}

.headline {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.first {
  display: flex;
}

.last {
  display: flex;
}

.name1 {
  display: flex;
  margin-left: 1em;
  padding: 4px;
  font-size: 20px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;

}

.addchecklist {
  display: flex;
  margin-top: 2em;
}

.listname {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: auto;
  margin: 22px;
  min-height: 18px;
  min-width: 40px;
  margin-left: 1em;
  padding: 4px;
  font-size: 20px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;

}

.listtitle {
  display: flex;
}

.checklist {
  margin-top: 1em;
}

.itemoption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkitem{
  display: flex;
  flex-direction: row;
margin-left: 1em;
}
