<div class="container">


  <div class="headline">
    <div class="first">

      <div class="name">
        <span class="material-icons">
          payment
        </span>
      </div>


      <div class="name1">
        {{data.name}}
      </div>


    </div>

    <div class="last">
      <button mat-raised-button color="primary" (click)='close()'>close</button>
    </div>

  </div>

</div>
<div class="addchecklist">

  <button mat-button *ngIf="!addlist" color="primary" (click)='showinput()'>+ add checklist</button>

  <mat-card *ngIf="addlist" class="inputcard">

    <mat-form-field>
      <mat-label>Enter checklist name.</mat-label>
      <input matInput placeholder="Ex. Book Flight" [(ngModel)]="listname" value='' required>
    </mat-form-field>

    <button mat-button (click)='submitlistname()'>submit</button>
    <button mat-button (click)='showinput()'>cancel</button>

  </mat-card>


</div>

<div class="checklist" *ngFor="let item of checklist;let indexOfelement=index;">


  <div *ngIf="showeditinput!==item.id" class="listname" (click)='showupdateinput(item.id)'>
    <div class="listtitle">
      {{indexOfelement+1}}. {{item.name}}
    </div>
    <div class="listtitle">
      <span class="material-icons" (click)='deletechecklist(item.id)'>
        delete
      </span>
    </div>
  </div>

  <mat-card *ngIf="showeditinput==item.id" class="inputcard">

    <mat-form-field>
      <mat-label>Enter new name.</mat-label>
      <input matInput placeholder="Ex. Book Flight" [(ngModel)]="editlistdata" value={{item.name}}>
    </mat-form-field>

    <button mat-button (click)='submitlist(item.id)'>submit</button>
    <button mat-button (click)='hideeditlistinput()'>cancel</button>

  </mat-card>
  <mat-progress-bar ng-app="" mode="determinate" value={{(shoes.selectedOptions.selected.length*10)}}>
  </mat-progress-bar>

  <mat-selection-list #shoes>
    <mat-list-option *ngFor="let index of item.checkItems" [selected]="index.state =='complete'">

      <div *ngIf="showedititem!==index.id" class="itemoption">
        <div class="checkitem">
          {{index.name}}
        </div>

        <div class="checkitem">
          <span class="material-icons" (click)='deleteitem($event,item.id,index.id)'>
            delete_outline

          </span>

          <div class="checkitem">
            <span class="material-icons" (click)='showinputforeditietm($event,index.id)'>
              edit
            </span>
  
          </div>

        </div>

       
     

      </div>
      <!--  -->
      <mat-card *ngIf="showedititem==index.id" class="inputcard">

        <mat-form-field>
          <mat-label>Enter new name.</mat-label>
          <input matInput placeholder="Ex. Book Flight" [(ngModel)]="edititemdata">
        </mat-form-field>

        <button mat-button (click)='submitedititemnew($event,item,index.id)'>submit</button>
        <button mat-button (click)=' hideinputforeditietm()'>cancel</button>

      </mat-card>

      <mat-card *ngIf="edititemoption==index.id" class="inputcard" (click)='stopprop($event)'>

        <mat-form-field>
          <mat-label>Enter new name.</mat-label>
          <input matInput placeholder="Ex. Book Flight" value={{index.name}} [(ngModel)]="edititemvalue" required>
        </mat-form-field>

        <button mat-button (click)='submititem($event,item.id)'>submit</button>
        <button mat-button (click)='hideedititem($event)'>cancel</button>

        <button mat-button color='primary' (click)='deleteitem($event,item.id,index.id)'>delete</button>




      </mat-card>



    </mat-list-option>
    <button *ngIf="additemid!==item.id" (click)='additemoption($event ,item.id)' mat-button>+ add item</button>
    <mat-card *ngIf="additemid==item.id" class="inputcard1">
      <mat-form-field>
        <mat-label>Enter new item name.</mat-label>
        <input matInput placeholder="Ex. Book Flight" [(ngModel)]="additemvalue" required>
      </mat-form-field>
      <mat-card-actions>
        <button mat-button (click)='submitadditem($event,item.id)'>submit</button>
        <button mat-button (click)='hideadditem()'>cancel</button>
      </mat-card-actions>
      <!-- </form> -->

    </mat-card>

  </mat-selection-list>

</div>
