<div class="board-Container">
  <div ng *ngFor="let item of boards">
    <mat-card class="board-card-main" (click)='OnSelect($event,item.id)'>
      <mat-card-header class="board-card">
        <mat-card-title>{{item.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <span class="material-icons" color='primary' (click)="editboardfn($event,item.id)" id={{item.id}}>
          create
        </span>
        <button mat-raised-button color='primary' (click)='deleteboard($event,item.id)'>Delete</button>
      </mat-card-actions>
    </mat-card>
    <mat-divider></mat-divider>
  </div>
</div>







