<mat-toolbar color='primary' class="Navbar">
  <mat-toolbar-row class="Navbar">
    <div class="navitem">
      <span class="material-icons">
        view_comfy
      </span>
      <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    </div>
    <div>
      <span></span>
      <img src="https://a.trellocdn.com/prgb/dist/images/header-logo-2x.01ef898811a879595cea.png" alt="Trello"
        class="trello-img">
    </div>
    <div>

      <span mat-raised-button class="material-icons">
        add
      </span>
      <span class="material-icons">
        account_circle
      </span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="space">

</div>

<div class="container">
  <div style="display: flex; flex-direction: row;" *ngFor="let item of childAllLists">
    <mat-list class="list" role="list">
      <mat-card *ngIf="showlistname!=item.id" (click)='editlist(item.id)' class="listtitle">
        <div class="listname">{{item.name}}
        </div>
        <span class="material-icons delete" (click)=' deletelist($event,item.id)'>
          delete
        </span>
      </mat-card>
      <mat-card *ngIf="showeditinput==item.id" class="inputcard">
        <mat-form-field>
          <mat-label>Enter new name.</mat-label>
          <input matInput placeholder="Ex. Book Flight" [(ngModel)]="editdata" value={{item.name}} required>
        </mat-form-field>
        <button mat-button (click)='submitedit(item.id)'>submit</button>
        <button mat-button (click)='hideinput()'>cancel</button>
      </mat-card>
      <app-card [data]='childAllLists' [id]='item.id'></app-card>
    </mat-list>

  </div>

  <div>

    <button mat-button *ngIf=showbtn class="addlist" (click)='showaddinput()'> + Add another list</button>
    <mat-card *ngIf=showinput class="inputcard">
      <mat-form-field class="example-full-width">
        <mat-label>Enter new list name.</mat-label>
        <input matInput placeholder="Ex. Book Flight" [(ngModel)]="inputdata" required>
      </mat-form-field>
      <mat-card-actions>
        <button mat-button (click)='addlist($event)'>submit</button>
        <button mat-button (click)='showaddinput()'>cancel</button>
      </mat-card-actions>

    </mat-card>
  </div>

</div>
