.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: #016aa7;
    width: 100%;
    margin-bottom: 1em;
    position: fixed;
}
.navitem{
    display: flex;
}
.trello-img{
    display: flex;
    width: 5em;
    color: white;
}
.material-icons{
    margin: .5em;
}
.board{
    display: none;
}
.container{
    display: flex;
    width: 100%;
   margin-top: 5em;

}
.card{
    display: flex;
    margin: 1em;
    /* width: 2em;
    border: 5px solid black; */
}
.card1{
    width: 15em;
    height: 1em;
}
.list{
    display: flex;
    background-color: #ebecf0;
    /* justify-content: center; */
    flex-direction: column;
    margin:1em;
    width: 25em;
   
}
.listtitle{
    display: flex;
    margin: 1em;
    background-color: #ebecf0;
    justify-content: space-between;
    color: #172b4d;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
.addlist{
    display: flex;
    margin-top: 1em;
    background-color:#ebecf0; ;
}
.inputcard{
    margin-top: 1em;
}
.listname{
    display: flex;

}
.delete{
    display: flex; 
    margin: 0em;
}
.space{
    display: flex;
}