<mat-toolbar color='primary' class="Navbar">  
    <mat-toolbar-row class="Navbar"  >
  
      <div class="navitem">
        <span class="material-icons">
          view_comfy
           </span>
           <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
         
         
    </div>
    <div >
      <span></span >
      <img src="https://a.trellocdn.com/prgb/dist/images/header-logo-2x.01ef898811a879595cea.png" alt="Trello" class="trello-img">
    </div>
    <div>
  
      <span mat-raised-button class="material-icons" (click)='opendailog()'>
        add
      </span>
      <span class="material-icons">
        account_circle
        </span>
    </div>
    </mat-toolbar-row>
  
   
  </mat-toolbar>
  
  
  
  
  <app-board (newItemEvent)="opendailog($event)"></app-board> 
  <router-outlet></router-outlet>