.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: #016aa7;
}
.navitem{
    display: flex;
}
.trello-img{
    display: flex;
    width: 5em;
    color: white;
}
.material-icons{
    margin: .5em;
}
.board{
    display: none;
}