<h1 mat-dialog-title>Enter {{data.msg}} Board Name </h1>
<mat-dialog-content>
  <mat-form-field>
    <input matInput [(ngModel)]="fromDialog" placeholder="Enter Board Name here." required>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color='primary' (click)="save(data.id)">submit</button>
  <button mat-raised-button color='primary' (click)="close()">Cancel</button>
</mat-dialog-actions>
